*,
*::before,
*::after {
   box-sizing: border-box;
   /* font-family: "Press Start 2P", cursive; */
   font-family: "Roboto", sans-serif;
}

body {
   margin: 0;
   overflow-x: hidden;
}

.body-wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

/* login part */

.login-field {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 550px;
   width: 410px;
   box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
   border-radius: 1px;
   position: relative;
   animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
   0% {
      transform: translateX(100%);
      opacity: 0;
   }
   100% {
      transform: translateX(0);
      opacity: 1;
   }
}

@keyframes slideOut {
   0% {
      transform: translateX(0);
      opacity: 1;
   }
   100% {
      transform: translateX(-100%);
      opacity: 0;
   }
}

#email,
#password {
   padding: 0 15px;
   outline: none;
   border: none;
   box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
   height: 40px;
   font-size: 1.2rem;
}

.input-groups {
   display: flex;
   flex-direction: column;
   gap: 25px;
   width: 320px;
}

.email,
.password,
.fullname,
.phone {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.intro-name {
   font-size: 30px;
   font-weight: 400;
   position: absolute;
   top: 60px;
}

#sign-in-btn {
   background: none;
   color: white;
   border: none;
   padding: 0;
   font: inherit;
   cursor: pointer;
   outline: inherit;
   background-color: rgb(0, 166, 88);
   width: 320px;
   height: 40px;
   border-radius: 5px;
}

#keep-me-logged-in {
   width: 20px;
   height: 20px;
   margin: 0;
}

.kmli-label {
   display: inline-block;
   transform: translateY(-5px);
}

.not-registered {
   position: absolute;
   bottom: 70px;
}

.register-now {
   color: blue;
   cursor: pointer;
}

.register-now:hover {
   text-decoration: underline;
}

/* sign up part */

.reg-field {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 550px;
   width: 410px;
   box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
   border-radius: 1px;
   position: relative;
}

.fullname,
.phone {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

#fullname,
#phone {
   outline: none;
   border: none;
   box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
   height: 40px;
   padding: 0 15px;
   font-size: 1.2rem;
}

.reg-field .input-groups {
   gap: 15px;
}

.reg-field .email,
.reg-field .password,
.reg-field .fullname,
.reg-field .phone {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.reg-field .intro-name {
   top: 50px;
}

.reg-field {
   width: 650px;
}

.reg-input-groups {
   transform: translateY(3%);
}
